*{
    margin: 0;
padding: 0;
}
body{
    
    background-color:#19172e;
}
.form-validation{
    /* border: 2px solid orangered; */
    /* background-color: white; */
 border-radius: 2rem;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.05);
width: 510px;
margin-left: 433px;
margin-top: 150px;
padding-top: 33px;
backdrop-filter: blur(20px);
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
padding-left: 150px;
}
.input{
    margin-top: 13px;
    font-size: 25px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid white;
padding: 20px;
color: white;
} 
#submit{
 border-radius: 10px;
 border: none;
padding: 5px 10px;
margin-left: 12px;
color: white;
background-color: rgb(27, 133, 31);
font-size: 25px;
margin-top: 19px;
}
h1{
    color: white;
     text-align: center;
    position: absolute;
    top: 93px;
    left: 663px;

}

#NameError,#PassError{
    color:  red;
 margin-left: 22px;
    margin-top: 10px;
}


.my-detail{
    /* background-color: greenyellow; */
    column-rule: wheat;
    width: 450px;
    text-align: center;
    height: 90px;
    font-size: 20px;
    color: whitesmoke;
    margin-left: -33px;
 
    margin-top: 73px;
}
.my-detail a{
    color: white;
}